.headline {
  margin-bottom: 1rem;
}

.form {
  background: #3d3d41;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  min-width: 350px;
}

.form button {
  margin-top: 0.5rem;
  width: 100%;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.formInputs input {
  border: 2px solid #bbbbbb;
  padding: 0.5rem;
  border-radius: 14px;
  background: #3d3d41;
}

.formInputs input::placeholder {
  color: #bbbbbb;
}

.error {
  margin: 0.4rem 0;
  color: #eb0b0b;
}
